{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Mon panier</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for details in cart.details %}
            <tr>
                <td>{{ details.article.label }}</td>

                <td>{{ details.article.price|number_format(2, '.') ~ '€' }}</td>
                <td>{{ details.quantity }}</td>
                {% set price = details.article.price* details.quantity %}

                <td>{{ price|number_format(2, '.') ~ '€' }}</td>                <td>
                    <a class="btn btn-danger" href="{{ path('mi11_vitrine_cart_delete', {'id': details.article.id}) }}">X</a>
                </td>
            </tr>
        {% endfor %}
        {% if cart.details is empty %}
            <tr>
                <td colspan="5">Panier vide</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="4">Total : {{ cart.total|number_format(2, '.') ~ '€' }}</td>
            <td><a href="{{ path('mi11_vitrine_cart_validate') }}" class="btn btn-success">Valider le panier</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}